<html>
<head>
    <title>lol</title>
    <link href="../static/css/hello.css" rel="stylesheet" type="text/css">
    <link href="../static/css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="basediv1">


    <table>
        <tr>
            <td>
                <div class="range-slider">
                    <input type="text" class="js-range-slider" value=""/>
                </div>

            </td>
            <td>
                <form method="POST">
                    <label>
                        <textarea id='input' rows="10" cols="60" name="text"
                                  placeholder="&nbsp; Insert text ..."></textarea>
                    </label>

                </form>
            </td>

    </table>
</div>
<div class="basediv2">
    <table>
        <tr>
            <td>
                <textarea id="output" rows="10" cols="60" name="text" placeholder="&nbsp; "></textarea>
            </td>

    </table>
</div>
</body>
<script type="text/javascript" charset="utf8" src="/static/js/jquery-3.5.1.min.js"></script>
{#<script type="text/javascript" charset="utf8" src="/static/js/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>#}
<script type="text/javascript" charset="utf8" src="/static/js/ion.rangeSlider.min.js"></script>
<script type="text/javascript" charset="utf8" src="/static/js/hello.js"></script>

</html>